{% extends "base.html" %}

{% block content %}
    <h1><b>{{ tag.name }}</b> - Posts with Tag</h1>
    {% for post in posts %}
    <table style="border: 1px solid black;width: 50%">
        <tr style="border: 1px solid black;"><td style="border: 1px solid black;">{{ post[0].title }} <i>by <a href="user/{{ post[1].name }}">{{ post[1].name }}</a></i></td></tr>
        <tr style="border: 1px solid black;"><td style="border: 1px solid black;">{{ post[0].text }}</td></tr>
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">
                {% for tag in post[0].tags %}
                    {{ tag.name }}, 
                {% endfor %}
            </td>
        </tr>
    </table>
    <br>
    {% endfor %}
{% endblock %}